body {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#434343,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
	background-color: #f4d03f;
	background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

button:hover {
	background-image: linear-gradient(
		to right,
		#e55d87 0%,
		#5fc3e4 51%,
		#e55d87 100%
	);
}
